@CHARSET "EUC-KR";

.Define-Values {
	width: 200px;
}

.Define-Input-Box {
	width: 400px;
}

.Define-Error-Region {
	color: red;
}
.preButton, .registerButton, .modifyButton {
	width: 600px;
	text-align: right;
}
